<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body id="body">
  <header>
    <div class="icon__menu">
      <i class="fas fa-bars" id="btn_open"></i>

    </div>

    <div class="icon__menu">
      <i class="fa-solid fa-circle-half-stroke" id="btn-dark"></i>
    </div>

  </header>

  <div class="menu__side" id="menu_side">

    <div class="name__page">
      <i class="fa-solid fa-circle-user"></i>
      <h4>César Hernández Obispo</h4>

    </div>
    <div class="options__menu">
      <!--<br> quitar-->
      
      <!--<a href="#" class="selected">-->
      <a href="#">
        <div class="option">
          <i class="fas fa-home" title="Inicio"></i>
          <h4>Inicio</h4>
        </div>
      </a>

      <a href="/publicaciones.html">
        <div class="option">
          <i class="fa-solid fa-file-lines" title="Publicaciones"></i>
          <h4>Publicaciones</h4>
        </div>
      </a>

      <a href="#">
        <div class="option">
          <i class="fa-solid fa-square-poll-vertical" title="Certificaciones"></i>
          <h4>Cursos y Certificaciones</h4>
        </div>
      </a>

      <a href="#">
        <div class="option">
          <i class="fa-solid fa-address-card" title="Curriculum Vitae"></i>
          <h4>Curriculum Vitae</h4>
        </div>
      </a>

      <div class="social_media">

        <a target="_blank" href="https://www.linkedin.com/in/cesarhernandezobispo/">
          <div class="option">
            <i class="fa-brands fa-linkedin" title="Linkedin"></i>
          </div>
        </a>


        <a target="_blank" href="https://twitter.com/CesarHdzObispo">
          <div class="option">
            <i class="fa-brands fa-twitter-square" title="Twitter"></i>
          </div>
        </a>

        <a target="_blank" href="https://github.com/CesarHdzObispo">
          <div class="option">
            <i class="fa-brands fa-github-square" title="Github"></i>
          </div>
        </a>

        <a target="_blank" href="mailto:cesarhernandezobispo@hotmail.com">
          <div class="option">
            <i class="fa-solid fa-square-envelope" title="Correo"></i>
          </div>
        </a>

      </div>
    </div>
  </div>

  <main>
    <div class="margen">
      {{content}}
    </div>
  </main>


  <script src="/assets/js/script.js"></script>
</body>

</html>